<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>ShowList</display-name>
  <servlet>
    <display-name></display-name>
    <servlet-name>ShowList</servlet-name>
    <servlet-class>com.servlets.ShowList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowList</servlet-name>
    <url-pattern>/ShowList</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoGetDetails</display-name>
    <servlet-name>DoGetDetails</servlet-name>
    <servlet-class>com.servlets.DoGetDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoGetDetails</servlet-name>
    <url-pattern>/DoGetDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoPrepareForm</display-name>
    <servlet-name>DoPrepareForm</servlet-name>
    <servlet-class>com.servlets.DoPrepareForm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoPrepareForm</servlet-name>
    <url-pattern>/DoPrepareForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoRegister</display-name>
    <servlet-name>DoRegister</servlet-name>
    <servlet-class>com.servlets.DoRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoRegister</servlet-name>
    <url-pattern>/DoRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoEdit</display-name>
    <servlet-name>DoEdit</servlet-name>
    <servlet-class>com.servlets.DoEdit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoEdit</servlet-name>
    <url-pattern>/DoEdit</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoLanding</display-name>
    <servlet-name>DoLanding</servlet-name>
    <servlet-class>com.servlets.DoLanding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoLanding</servlet-name>
    <url-pattern>/DoLanding</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  <welcome-file>DoLanding</welcome-file>
  </welcome-file-list>
</web-app>